In [12]:
import pandas as pd

data_products = {
    'ProductID': ['P1001', 'P1002', 'P1003', 'P1004', 'P1005', 'P1006', 'P1007', 'P1008', 'P1009', 'P1010',
                  'P1011', 'P1012', 'P1013', 'P1014', 'P1015'],
    'ProductName': ['Widget', 'Gadget', 'WidgetPro', 'Gizmo', 'Doodad', 'Thingy', 'Doohickey', 'Gimmick', 'Contraption', 'Device',
                    'Mechanism', 'Apparatus', 'Implement', 'Tool', 'Instrument'],
    'Price': [25.50, 45.75, 55.00, 12.95, 8.50, 22.50, 3.75, 7.80, 10.00, 33.50,
              45.00, 12.00, 14.95, 21.75, 17.50]
}
products = pd.DataFrame(data_products)

In [ ]:
products

   ProductID  ProductName  Price
0      P1001       Widget  25.50
1      P1002       Gadget  45.75
2      P1003    WidgetPro  55.00
3      P1004        Gizmo  12.95
4      P1005       Doodad   8.50
5      P1006       Thingy  22.50
6      P1007    Doohickey   3.75
7      P1008      Gimmick   7.80
8      P1009  Contraption  10.00
9      P1010       Device  33.50
10     P1011    Mechanism  45.00
11     P1012    Apparatus  12.00
12     P1013    Implement  14.95
13     P1014         Tool  21.75
14     P1015   Instrument  17.50

In [13]:
data_sales = {
    'SaleID': list(range(101, 116)),
    'ProductID': ['P1001', 'P1003', 'P1002', 'P1005', 'P1001', 'P1006', 'P1007', 'P1008', 'P1009', 'P1004',
                  'P1010', 'P1011', 'P1013', 'P1014', 'P1015'],
    'Quantity': [3, 1, 2, 5, 10, 4, 2, 8, 1, 3, 7, 6, 3, 1, 2],
    'CustomerID': ['C001', 'C003', 'C002', 'C002', 'C001', 'C004', 'C005', 'C003', 'C005', 'C001',
                   'C002', 'C003', 'C004', 'C005', 'C001']
}
sales = pd.DataFrame(data_sales)

In [ ]:
sales

    SaleID ProductID  Quantity CustomerID
0      101     P1001         3       C001
1      102     P1003         1       C003
2      103     P1002         2       C002
3      104     P1005         5       C002
4      105     P1001        10       C001
5      106     P1006         4       C004
6      107     P1007         2       C005
7      108     P1008         8       C003
8      109     P1009         1       C005
9      110     P1004         3       C001
10     111     P1010         7       C002
11     112     P1011         6       C003
12     113     P1013         3       C004
13     114     P1014         1       C005
14     115     P1015         2       C001

In [14]:
data_customers = {
    'CustomerID': ['C001', 'C002', 'C003', 'C004', 'C005', 'C006', 'C007', 'C008', 'C009', 'C010',
                   'C011', 'C012', 'C013', 'C014', 'C015'],
    'CustomerName': ['Alpha Corp', 'Beta LLC', 'Gamma Inc', 'Delta Co', 'Epsilon Ltd', 'Zeta Inc', 'Eta LLC', 'Theta Corp', 'Iota PLC', 'Kappa LLC',
                     'Lambda Co', 'Mu Inc', 'Nu Ltd', 'Xi Corp', 'Omicron PLC'],
    'Location': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose',
                 'Austin', 'Jacksonville', 'Fort Worth', 'Columbus', 'Charlotte']
}
customers = pd.DataFrame(data_customers)

In [ ]:
customers

   CustomerID CustomerName      Location
0        C001   Alpha Corp      New York
1        C002     Beta LLC   Los Angeles
2        C003    Gamma Inc       Chicago
3        C004     Delta Co       Houston
4        C005  Epsilon Ltd       Phoenix
5        C006     Zeta Inc  Philadelphia
6        C007      Eta LLC   San Antonio
7        C008   Theta Corp     San Diego
8        C009     Iota PLC        Dallas
9        C010    Kappa LLC      San Jose
10       C011    Lambda Co        Austin
11       C012       Mu Inc  Jacksonville
12       C013       Nu Ltd    Fort Worth
13       C014      Xi Corp      Columbus
14       C015  Omicron PLC     Charlotte

# **Tasks**

1. **What is the total revenue generated by each customer?**

In [15]:
# DataFrames already created: products, sales, customers

# Step 1: Merge sales with products to get Price
sales_products = pd.merge(sales, products, on='ProductID', how='left')

# Step 2: Calculate revenue for each sale
sales_products['Revenue'] = sales_products['Quantity'] * sales_products['Price']

# Step 3: Merge with customers to get CustomerName
sales_full = pd.merge(sales_products, customers, on='CustomerID', how='left')

# Step 4: Group by CustomerName and calculate total revenue
total_revenue = sales_full.groupby('CustomerName', as_index=False)['Revenue'].sum()

# Step 5: Sort descending for clarity
total_revenue = total_revenue.sort_values(by='Revenue', ascending=False)

# âœ… Display in table form (no print)
total_revenue.style.set_caption("ðŸ’° Total Revenue by Customer").background_gradient(subset=['Revenue'], cmap='Blues')

2. **Which product has the highest total sales revenue?**

In [10]:
# Step 1: Merge sales with products to get the Price
sales_products = pd.merge(sales, products, on='ProductID', how='left')

# Step 2: Calculate revenue for each sale
sales_products['Revenue'] = sales_products['Quantity'] * sales_products['Price']

# Step 3: Group by ProductName and sum up the revenue
product_revenue = sales_products.groupby('ProductName', as_index=False)['Revenue'].sum()

# Step 4: Sort descending to find the top product
product_revenue = product_revenue.sort_values(by='Revenue', ascending=False)

# Step 5: Extract top product (highest total revenue)
top_product = product_revenue.head(1)

# âœ… Display outputs in table form (no print)
product_revenue.style.set_caption("ðŸ’° Total Sales Revenue by Product").background_gradient(subset=['Revenue'], cmap='Greens')

3. **How many unique customers bought each product?**

In [16]:
# Step 1: Merge sales with products to get product names
sales_products = pd.merge(sales, products, on='ProductID', how='left')

# Step 2: Count unique customers for each product
unique_customers = (
    sales_products.groupby('ProductName')['CustomerID']
    .nunique()
    .reset_index()
    .rename(columns={'CustomerID': 'Unique_Customers'})
)

# Step 3: Sort descending for clarity
unique_customers = unique_customers.sort_values(by='Unique_Customers', ascending=False)

# âœ… Display in table form (no print)
unique_customers.style.set_caption("ðŸ§â€â™‚ï¸ Unique Customers per Product").background_gradient(subset=['Unique_Customers'], cmap='Oranges')

4. **Which customer bought the most units of any single product in a transaction?**

In [17]:
# Step 1: Merge sales with products and customers for readable names
sales_full = (
    sales
    .merge(products, on='ProductID', how='left')
    .merge(customers, on='CustomerID', how='left')
)

# Step 2: Find the transaction with the maximum quantity
max_transaction = sales_full.loc[sales_full['Quantity'].idxmax(),
                                 ['CustomerName', 'ProductName', 'Quantity']]

# Step 3: Display result in a table format
pd.DataFrame([max_transaction]).style.set_caption("ðŸ† Customer with Highest Units in a Single Transaction")

5. **What is the average price of the products purchased by each customer?**

In [18]:
# Step 1: Merge all three DataFrames
sales_full = (
    sales
    .merge(products, on='ProductID', how='left')
    .merge(customers, on='CustomerID', how='left')
)

# Step 2: Group by CustomerName and calculate the average Price
avg_price_per_customer = (
    sales_full.groupby('CustomerName', as_index=False)['Price']
    .mean()
    .rename(columns={'Price': 'Average_Price'})
)

# Step 3: Sort descending for clarity
avg_price_per_customer = avg_price_per_customer.sort_values(by='Average_Price', ascending=False)

# âœ… Step 4: Display table (no print)
avg_price_per_customer.style.set_caption("ðŸ’° Average Product Price Purchased by Each Customer").background_gradient(subset=['Average_Price'], cmap='Purples')

6. **List all products bought by customers located in 'New York'.**

In [19]:
# Step 1: Merge sales, products, and customers
sales_full = (
    sales
    .merge(products, on='ProductID', how='left')
    .merge(customers, on='CustomerID', how='left')
)

# Step 2: Filter customers located in New York
ny_customers = sales_full[sales_full['Location'] == 'New York']

# Step 3: Get unique products bought by those customers
ny_products = ny_customers[['CustomerName', 'ProductName']].drop_duplicates().reset_index(drop=True)

# âœ… Step 4: Display results in table form
ny_products.style.set_caption("ðŸ—½ Products Purchased by Customers in New York")

7. **Which location had the highest number of distinct products sold?**

In [21]:
# Step 1: Merge sales, products, and customers
sales_full = (
    sales
    .merge(products, on='ProductID', how='left')
    .merge(customers, on='CustomerID', how='left')
)

# Step 2: Group by Location and count unique ProductIDs
location_products = (
    sales_full.groupby('Location')['ProductID']
    .nunique()
    .reset_index()
    .rename(columns={'ProductID': 'Distinct_Products_Sold'})
)

# Step 3: Sort descending to find top location
location_products = location_products.sort_values(by='Distinct_Products_Sold', ascending=False)

# Step 4: Extract top location
top_location = location_products.head(1)

# âœ… Step 5: Display results in table form
location_products.style.set_caption("ðŸ“ Distinct Products Sold by Location").background_gradient(subset=['Distinct_Products_Sold'], cmap='Greens')

8. **What is the total quantity of products sold in 'Los Angeles'?**

In [22]:
# Step 1: Merge sales, products, and customers
sales_full = (
    sales
    .merge(products, on='ProductID', how='left')
    .merge(customers, on='CustomerID', how='left')
)

# Step 2: Filter for customers in Los Angeles
la_sales = sales_full[sales_full['Location'] == 'Los Angeles']

# Step 3: Calculate total quantity sold
total_quantity_la = la_sales['Quantity'].sum()

# âœ… Step 4: Display result as a small table
pd.DataFrame({
    'Location': ['Los Angeles'],
    'Total_Quantity_Sold': [total_quantity_la]
}).style.set_caption("ðŸ“¦ Total Quantity of Products Sold in Los Angeles")

9. **Identify the customer who has spent the most money on a single transaction.**

In [23]:
# Step 1: Merge sales, products, and customers
sales_full = (
    sales
    .merge(products, on='ProductID', how='left')
    .merge(customers, on='CustomerID', how='left')
)

# Step 2: Calculate total amount spent per transaction
sales_full['Transaction_Amount'] = sales_full['Quantity'] * sales_full['Price']

# Step 3: Find the transaction with the maximum spending
max_transaction = sales_full.loc[sales_full['Transaction_Amount'].idxmax(),
                                 ['CustomerName', 'ProductName', 'Quantity', 'Price', 'Transaction_Amount']]

# âœ… Step 4: Display result as a formatted table
pd.DataFrame([max_transaction]).style.set_caption("ðŸ† Customer with Highest Spending in a Single Transaction")

10. **Which product is the most popular in terms of quantity sold?**

In [24]:
# Step 1: Merge sales with products to get product names
sales_products = pd.merge(sales, products, on='ProductID', how='left')

# Step 2: Group by ProductName and sum the total quantity sold
product_quantity = (
    sales_products.groupby('ProductName', as_index=False)['Quantity']
    .sum()
    .sort_values(by='Quantity', ascending=False)
)

# Step 3: Extract top product
top_product = product_quantity.head(1)

# âœ… Step 4: Display results in table form
product_quantity.style.set_caption("ðŸ“¦ Total Quantity Sold per Product").background_gradient(subset=['Quantity'], cmap='YlOrBr')

11. **How many transactions have occurred in each location?**

In [25]:
# Step 1: Merge sales with customers (location info)
sales_with_location = pd.merge(sales, customers, on='CustomerID', how='left')

# Step 2: Count transactions per location
transactions_per_location = (
    sales_with_location.groupby('Location', as_index=False)['SaleID']
    .count()
    .rename(columns={'SaleID': 'Number_of_Transactions'})
    .sort_values(by='Number_of_Transactions', ascending=False)
)

# âœ… Step 3: Display in table form (no print)
transactions_per_location.style.set_caption("ðŸ“ Number of Transactions by Location").background_gradient(subset=['Number_of_Transactions'], cmap='Blues')

12. **What is the average number of items per transaction for each location?**

In [26]:
# Step 1: Merge sales with customers to get location info
sales_with_location = pd.merge(sales, customers, on='CustomerID', how='left')

# Step 2: Group by location and calculate average quantity per transaction
avg_items_per_txn = (
    sales_with_location.groupby('Location', as_index=False)['Quantity']
    .mean()
    .rename(columns={'Quantity': 'Avg_Items_Per_Transaction'})
    .sort_values(by='Avg_Items_Per_Transaction', ascending=False)
)

# âœ… Step 3: Display results in table form (no print)
avg_items_per_txn.style.set_caption("ðŸ“¦ Average Number of Items per Transaction by Location").background_gradient(subset=['Avg_Items_Per_Transaction'], cmap='YlGnBu')

13. **Which customer has the widest variety of products purchased?**

In [27]:
# Step 1: Merge sales with customers and products
sales_full = (
    sales
    .merge(products, on='ProductID', how='left')
    .merge(customers, on='CustomerID', how='left')
)

# Step 2: Group by CustomerName and count distinct products purchased
customer_variety = (
    sales_full.groupby('CustomerName')['ProductID']
    .nunique()
    .reset_index()
    .rename(columns={'ProductID': 'Distinct_Products_Purchased'})
)

# Step 3: Sort descending to find top customer
customer_variety = customer_variety.sort_values(by='Distinct_Products_Purchased', ascending=False)

# Step 4: Extract top customer
top_customer = customer_variety.head(1)

# âœ… Step 5: Display as table
customer_variety.style.set_caption("ðŸ›’ Distinct Products Purchased by Each Customer").background_gradient(subset=['Distinct_Products_Purchased'], cmap='Oranges')

14. **For each product, how many transactions were above the average price of all products?**

In [28]:
# Step 1: Merge sales with products to get product prices
sales_products = pd.merge(sales, products, on='ProductID', how='left')

# Step 2: Calculate the overall average price of all products
overall_avg_price = products['Price'].mean()

# Step 3: Filter transactions where Price > overall average
above_avg_sales = sales_products[sales_products['Price'] > overall_avg_price]

# Step 4: Count number of such transactions per product
transactions_above_avg = (
    above_avg_sales.groupby('ProductName', as_index=False)['SaleID']
    .count()
    .rename(columns={'SaleID': 'Transactions_Above_Avg_Price'})
)

# Step 5: Include products that had 0 above-average transactions
all_products = pd.merge(
    products[['ProductName']], transactions_above_avg,
    on='ProductName', how='left'
).fillna(0)

# âœ… Step 6: Display table (no print)
all_products.style.set_caption("ðŸ’° Transactions Above Overall Average Price per Product").background_gradient(subset=['Transactions_Above_Avg_Price'], cmap='YlGn')




15. **Which customer has never bought the same product twice?**

In [29]:
# Step 1: Merge sales with customers and products
sales_full = (
    sales
    .merge(products, on='ProductID', how='left')
    .merge(customers, on='CustomerID', how='left')
)

# Step 2: Count how many times each customer bought each product
purchase_counts = (
    sales_full.groupby(['CustomerName', 'ProductName'])
    .size()
    .reset_index(name='Times_Purchased')
)

# Step 3: Find customers who never repeated a product (all Times_Purchased == 1)
repeat_check = (
    purchase_counts.groupby('CustomerName')['Times_Purchased']
    .max()
    .reset_index()
)

# Step 4: Keep only those where max purchase count == 1
non_repeating_customers = repeat_check[repeat_check['Times_Purchased'] == 1]

# âœ… Step 5: Display results in table form
non_repeating_customers.style.set_caption("ðŸ§¾ Customers Who Never Bought the Same Product Twice")